Identified {{ cve_id }} on host {{ host_id }}.

This vulnerability is related to {{ weakness_name }} ({{ cwe_id }}).

The attacker likely used the {{ tactic_name }} tactic.

Recommended Action: {{ mitigation_action }}.

